body {
    display: grid;
    grid-template-columns: 300px 1fr 400px;
}

.left {
    background-color: aliceblue;
}

.middle {
    background-color: palegreen;
}

.right {
    background-color:peachpuff;
}