* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: grid;
    grid-template-columns: 300px 1fr 400px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* LEFT BAR */

nav {
    display: grid;
    grid-template-rows: 1fr 100px;
}

nav .top {
    display: grid;
    grid-template-areas: "icons logo" 50px
                            "icons home" 50px
                            "icons explore" 50px
                            "icons notifications" 50px
                            "icons messages" 50px
                            "icons bookmarks" 50px
                            "icons lists" 50px
                            "icons profile" 50px
                            "icons more" 
                            "button button" 50px/
                            50px 150px;
    margin: 3rem;
    padding: 10px;

}

nav .top .icons {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    margin: 0.75rem;
    padding: 5px;
}

nav .top .icons:hover {
    background-color: rgb(149, 205, 240);
    border-radius: 20px;
}

nav .top .icon {
    width: 30px;
    display: inline-block;
}

nav .top .icon .outline {
    stroke: black;
    fill: none;
}

nav .top .icon .outline:active {
    fill: rgb(29 161 242);
}


nav .top .logo svg.logo {
    fill: rgb(29 161 242);
    width: 40px;
}

nav .top h3 {
    display: inline-block;
}

a {
    text-decoration: none;
}



main {
    background-color: palegreen;
}

article {
    background-color:peachpuff;
}
